
<div class="container white-text input-field col s12">
    <select>
            <option value="" disabled selected>Selecciona Deporte</option>
            <option value="LigaMx">LigaMx</option>
            <option value="CopaMx">CopaMx</option>
            <option value="Nfl">Nfl</option>
            <option value="Box">Box</option>
            <option value="Ufc">Ufc</option>
        </select>
        
        <select>
                <option value="" disabled selected>Selecciona Torneo</option>
                <option value="C2018">Clausura 2018</option>
                <option value="A2018">Apertura 2018</option>
                <option value="C2019">Clausura 2019</option>
                <option value="A2019">Apertura 2019</option>
            </select>

    <select>
        <option value="" disabled selected>Selecciona la jornada</option>
        <option value="Jornada 1">Jornada 1</option>
        <option value="Jornada 2">Jornada 2</option>
        <option value="Jornada 3">Jornada 3</option>
        <option value="Jornada 4">Jornada 4</option>
        <option value="Jornada 5">Jornada 5</option>
        <option value="Jornada 6">Jornada 6</option>
        <option value="Jornada 7">Jornada 7</option>
        <option value="Jornada 8">Jornada 8</option>
        <option value="Jornada 9">Jornada 9</option>
        <option value="Jornada 10">Jornada 10</option>
        <option value="Jornada 11">Jornada 11</option>
        <option value="Jornada 12">Jornada 12</option>
        <option value="Jornada 13">Jornada 13</option>
        <option value="Jornada 14">Jornada 14</option>
        <option value="Jornada 15">Jornada 15</option>
        <option value="Jornada 16">Jornada 16</option>
        <option value="Jornada 17">Jornada 17</option>
    </select>


<div class="input-field col s6">
<select>
        <option value="" disabled selected>Equipo Local</option>
        <option value="America">America</option>
        <option value="Atlas">Atlas</option>
        <option value="Guadalajara">Guadalajara</option>
        <option value="Leon">Leon</option>
        <option value="Lobos">Lobos</option>
        <option value="Monterrey">Monterrey</option>
        <option value="Morelia">Morelia</option>
        <option value="Necaxa">Necaxa</option>
        <option value="Pachuca">Pachuca</option>
        <option value="Puebla">Puebla</option>
        <option value="Pumas">Pumas</option>
        <option value="Queretaro">Queretaro</option>
        <option value="Santos">Santos</option>
        <option value="Tigres">Tigres</option>
        <option value="Tijuana">Tijuana</option>
        <option value="Toluca">Toluca</option>
        <option value="Veracruz">Veracruz</option>
        <option value="CruzAzul">Cruz Azul</option>
    </select>
</div>

<div class="input-field col s6">
    <select>
        <option value="" disabled selected>Equipo Visitante</option>
        <option value="America">America</option>
        <option value="Atlas">Atlas</option>
        <option value="Guadalajara">Guadalajara</option>
        <option value="Leon">Leon</option>
        <option value="Lobos">Lobos</option>
        <option value="Monterrey">Monterrey</option>
        <option value="Morelia">Morelia</option>
        <option value="Necaxa">Necaxa</option>
        <option value="Pachuca">Pachuca</option>
        <option value="Puebla">Puebla</option>
        <option value="Pumas">Pumas</option>
        <option value="Queretaro">Queretaro</option>
        <option value="Santos">Santos</option>
        <option value="Tigres">Tigres</option>
        <option value="Tijuana">Tijuana</option>
        <option value="Toluca">Toluca</option>
        <option value="Veracruz">Veracruz</option>
        <option value="CruzAzul">Cruz Azul</option>
    </select>
</div>



<div class="input-field col s6"></div>
<input id="first_name" type="date" class="validate">
<!-- <label for="first_name">Fecha y hora</label> -->

<button class="btn waves-effect waves-light" type="submit" name="action">Guardar
    <i class="material-icons right">send</i>
</button>


</div>