
<div class= "white-text container">
<p>sdfsdff</p>



<div class="input-field col s12">
<select>
  <option value="" disabled selected>Selecciona la jornada</option>
  <option value="Jornada 1">Jornada 1</option>
  <option value="Jornada 2">Jornada 2</option>
  <option value="Jornada 3">Jornada 3</option>
  <option value="Jornada 4">Jornada 4</option>
  <option value="Jornada 5">Jornada 5</option>
  <option value="Jornada 6">Jornada 6</option>
  <option value="Jornada 7">Jornada 7</option>
  <option value="Jornada 8">Jornada 8</option>
  <option value="Jornada 9">Jornada 9</option>
  <option value="Jornada 10">Jornada 10</option>
  <option value="Jornada 11">Jornada 11</option>
  <option value="Jornada 12">Jornada 12</option>
  <option value="Jornada 13">Jornada 13</option>
  <option value="Jornada 14">Jornada 14</option>
  <option value="Jornada 15">Jornada 15</option>
  <option value="Jornada 16">Jornada 16</option>
  <option value="Jornada 17">Jornada 17</option>
</select>

</div>