                                <!-- Eventos  -->
<div class="navbar-fixed">
    <nav class="blue-grey">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Eventos</a>
            <ul class="right">
                <li>
                    <a href="#!eventos-nuevo" class="blue-grey darken-2">
                       <i class="material-icons left">add_circle</i> Nuevo
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <!-- Cada enlace debe tener el ID del deporte -->
    <a href="#!eventos/1" class="waves-effect"> 
        <img class="miniatura-logo-deportes" src="img/logo_ligamx.png">
    </a>
    <a href="#!eventos/2" class="waves-effect"> 
        <img class="miniatura-logo-deportes" src="img/logo_boxeo.png">
    </a>
    <a href="#!eventos/3" class="waves-effect"> 
        <img class="miniatura-logo-deportes" src="img/logo_ufc.png">
    </a>
    <a href="#!eventos/4" class="waves-effect"> 
        <img class="miniatura-logo-deportes" src="img/logo_nfl.png">
    </a>
        
        
    
</div>