
<div class="container input-field col s12">
    <form name="newEventForm">    
        <select class="browser-default" required
                ng-options="sport as sport.Name for sport in sportList track by sport.Id"
                ng-model="selectedSport"
                ng-change="getTournaments(); getPlayers()">
            <option value="">-- Selecciona un Deporte</option>
        </select>

        <select class="browser-default" required
                ng-disabled="selectedSport == null || selectedSport == ''"
                ng-options="tourn as tourn.Name for tourn in tournsList track by tourn.Id"
                ng-model="selectedTournament">
                <option value="" disabled selected>-- Selecciona Torneo</option>
        </select>

        <select class="browser-default"
                ng-show="selectedSport.Name == 'LIGAMX'"
                ng-model="num_jornada">
            <option value="" disabled selected>-- Selecciona la jornada</option>        
        </select>


        <div class="input-field col s6">
            <select class="browser-default" required
                    ng-options="player as player.Name for player in playerList track by player.Id"
                    ng-model="player1"
                    ng-disabled="selectedSport == null || selectedSport == ''">
                    <option value="" disabled selected>-- Local (Player 1)</option>
            </select>
        </div>

        <div class="input-field col s6">
            <select class="browser-default" required
                    ng-options="player as player.Name for player in playerList track by player.Id"
                    ng-model="player2"
                    ng-disabled="selectedSport == null || selectedSport == ''">
                <option value="" disabled selected>-- Visitante (Player 2)</option>
            </select>
        </div>

        <input id="first_name" required type="date" class="validate" ng-model="playDate">
    <!-- <label for="first_name">Fecha y hora</label> -->

        <button class="btn waves-effect waves-light" 
                ng-click="sendFormInfo()"
                ng-disabled="newEventForm.$dirty || newEventForm.$invalid">
            Guardar
            <i class="material-icons right">send</i>
        </button>

    </form>
</div>